.hero
  position relative
  overflow hidden
  height 100%
  width 100%
  @media (max-width $breakpoint-mobile)
    min-height 500px
    margin-bottom 20px

.bg
  max-width 100%
  @media (max-width $breakpoint-mobile)
    left 50%
    position absolute
    transform translateX(-50%)
    height 100%
    max-width fit-content