@import './config/fonts.styl'
@import './config/layout.styl'
@import './components/ListCharacter.styl'
@import './components/hero.styl'

// Search
.search
  max-width 1200px
  margin 0 auto 
  position relative

  &-field
    background-color transparent
    border 0
    border-bottom 1px solid #ccc
    box-sizing border-box
    padding 10px
    width 100%
  
  &-btn
    align-item center
    background-color transparent
    border 0
    color #fff
    display flex
    position absolute
    right 0
    top 10px