@import './config/fonts.styl'
@import './config/layout.styl'
@import './components/hero.styl'
@import './components/Search.styl'
@import './components/ListCharacter.styl'
@import './components/pagination.styl'
